body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-inline-start: none;
  border: 2px solid #2E2E2E;
  border-radius: 15px;
  padding-left: 20px;
}

.options{
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.primary_btn {
  align-items: center;
  background-color: #006DB7;
  border: none;
  border-radius: 5px;
  color: #FEFEFE;
  display: flex;
  justify-content: center;
  margin: .2rem;
  outline: none;
  padding: .5rem 1.5rem;
  width: 10rem;
  cursor: pointer;
}

.primary_btn_text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* AppBar styles */
.appbar{
  background-color: #006DB7;
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  align-items: center;
}

.appbar_logo {
  color: #FEFEFE;
  margin-left: 30px;
}


.appbar_navlink {
  color: #FEFEFE;
  text-decoration: none;
}

.appbar_navlink:hover {
  color: #FFCC00;
}
.appbar_navlink:active {
  color: #FFCC00;
}

.appbar_navlink:first-child {
  padding-left: 0;
  margin: 10px;
}

.nav-links{
  float: right;
  list-style: none;
  margin-right: 30px
}

.nav-links li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}



/* Quiz Card */
.quiz_card_header{
  margin-top: 0px;
  font-size: 25px;
  font-weight: 700;
}
.quiz_card_img img{
 height: 200px;
}

.quiz_description{
 padding-top: 0;
 margin-bottom: 10px;
}

.quiz_card_body {
  grid-area: card-body;
  padding: .3rem .5rem .3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.quiz_card_body h2 {
  margin-bottom: 0%;
}

.quiz_card_body div {
  margin-top: 0%;
}

.quiz_card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  flex-direction: row;
  height: 200px;
}


.quiz-button{
  margin-bottom: 100px;
  font-size: 50px;
  border-radius: 25px;
}

.category-button{
  height: 300px;
  width: 200px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  background-color: #FFCC00;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.category-names{
  margin-left: 50px;
}

.category-button:hover{
  -webkit-transform: (scale(1.1));
  transform: scale(1.1);
}

.cat-btn-text{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.cat-title{
  margin-left: 20px;
}


.space{
  height: 40px;
}

.quizcard-square{
  background-color: black;
  color: #FEFEFE;
  height: 220px;
  width: 280px;
  margin-left: 30px;
}

.qc-title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.qc-description{
  padding-left: 10px;
  display: inline-block;
}

.quiz-box{
  display: flex;
}

@media only screen and (max-width: 700px) {
 .quiz_card{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  flex-direction: row;
  height: 125px;
  font-size: 10px;
 }

 .quiz_card_header{
  font-size: 18px;
  font-weight: 500;
 }

 .primary_btn{
  align-items: center;
  background-color: #006DB7;
  border: none;
  border-radius: 5px;
  color: #FEFEFE;
  display: flex;
  justify-content: center;
  margin: .2rem;
  outline: none;
  padding: .5rem 1.5rem;
  width: 120px;
 }

 .primary_btn_text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  }

  .quiz_card_img img{
    height: 125px;
  }

  .line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger{
    cursor: pointer;
    margin-right: 20px;
    z-index: 2;
  }

  .appbar_logo{
    margin-left: 20px;
  }

  .navigation{
    background: red;

  }

  .appbar{
    position: relative;
  }

  .nav-links{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #006DB7;
    text-align: center;
    padding-top: 150px;
    padding-left: none;
    clip-path: circle(1000px at 80% 10%);
    -webkit-clip-path:circle(1000px at 85% -10%);
    transition: all 1s ease-out;
    display: none;
  }

  .nav-links.open{
    clip-path: circle(1000px at 80% 10%);
    -webkit-clip-path:circle(1000px at 85% -10%);
  }

  .nav-links li{
    display: block;
    font-size: 20px;
  }

  .appbar_navlink{
    color: #FEFEFE;
    text-transform: uppercase;
    font-weight: bold;
  }
  
 .hamburger:checked ~ ul{
   left: 0;
 }

 .quizcard-square{
   width: 180px;
   height: 180px;
   font-size: 10px;
 }
 .qc-title{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  }

  .qc-description{
  padding-left: 10px;
  padding-bottom: 20px;
  
  }
  
}

.tagline {
  position: absolute;
  width: 486px;
  height: 136px;
  left: 134px;
  top: 228px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.mission {
  position: absolute;
  width: 348px;
  height: 104px;
  left: 134px;
  top: 380px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  /* or 146% */


  color: #000000;
}

/* home-page icons */
.physics {
  position: absolute;
  width: 468px;
  height: 380px;
  left: 805px;
  top: 100px;

  background: url(./icons/Physics.png);
}

.calculator {
  position: absolute;
  width: 383px;
  height: 336px;
  left: 926px;
  top: 321px;

  background: url(./icons/Calculator.png);
}

.globus {
  position: absolute;
  width: 412px;
  height: 439px;
  left: 686px;
  top: 307px;

  background: url(./icons/Globus.png);
}